<h2 style="color:crimson">Ejercicios</h2>

Considerando que la relación dentro de la base de datos `nabla_python` tiene la siguiente estructura:

![relation](http://www.mysqltutorial.org/wp-content/uploads/2009/12/MySQL-Sample-Database-Schema.png)


1. Realiza una consulta a la base de datos `nabla_python` por medio de `pymysql`: encuentra los tipos de `status` existentes dentro de la tabla `orders`.

---

2. Realiza una consulta a la base de datos `nabla_python` por medio de `pymysql`: encuentra los 10 clientes `customerName` que más han comprado en la tienda. La tabla resultante deberá estar ordenada de mayor a menor con `customerName` y `expenses` como la columna en dónde se encuentre el monto gastado en la tienda. (**hint**: considera las tablas `customers` y `payments`)
----

3. Escribe una consulta que, para cada producto comprado muestre la clave del cliente `customerNumber` y el código del producto `productCode`. Obten los primeros 10 valores

---

4. En base al ejercicio anterior, reemplaza `productCode` por `productName`. **HINT**: El comando `WITH` nos ayuda a crear una tabla temporal:

```SQL
WITH t1 as (
    SELECT ...
    )
SELECT t1.ci, t2.cj
FROM t2
JOIN t1 ON t1.cx = t2.cx
```

---

5. En base al ejercicio anterior, reemplaza `customerNumber` por `customerName`

----

6. En base al ejercicio 3, encuentra el nombre del producto `productName` y cuantas unidades se han comprado de ese producto. Ordena los elementos de mayor a menor.

---

7. Por medio de SQLAlchemy, define la tabla `orders` definida dentro de `nabla_python`

```
+----------------+-------------+------+-----+---------+-------+
| Field          | Type        | Null | Key | Default | Extra |
+----------------+-------------+------+-----+---------+-------+
| orderNumber    | int(11)     | NO   | PRI | NULL    |       |
| orderDate      | date        | NO   |     | NULL    |       |
| requiredDate   | date        | NO   |     | NULL    |       |
| shippedDate    | date        | YES  |     | NULL    |       |
| status         | varchar(15) | NO   |     | NULL    |       |
| comments       | text        | YES  |     | NULL    |       |
| customerNumber | int(11)     | NO   | MUL | NULL    |       |
+----------------+-------------+------+-----+---------+-------+
```

----

8. Por medio de SQLAlchemy, define la tabla `orderdetails` definida dentro de `nabla_python`

```
+-----------------+---------------+------+-----+---------+-------+
| Field           | Type          | Null | Key | Default | Extra |
+-----------------+---------------+------+-----+---------+-------+
| orderNumber     | int(11)       | NO   | PRI | NULL    |       |
| productCode     | varchar(15)   | NO   | PRI | NULL    |       |
| quantityOrdered | int(11)       | NO   |     | NULL    |       |
| priceEach       | decimal(10,2) | NO   |     | NULL    |       |
| orderLineNumber | smallint(6)   | NO   |     | NULL    |       |
+-----------------+---------------+------+-----+---------+-------+
```

---

9. Realiza una consulta a la base de datos `nabla_python` por medio de `sqlalchemy`: encuentra los tipos de `status` existentes dentro de la tabla `orders`.

## Referencias

1. https://pymysql.readthedocs.io/en/latest/index.html
2. https://docs.sqlalchemy.org
3. https://www.fullstackpython.com/databases.html
4. https://blog.bitsrc.io/what-is-an-orm-and-why-you-should-use-it-b2b6f75f5e2a
5. http://zetcode.com/python/pymysql/
6. http://www.mysqltutorial.org/mysql-sample-database.aspx
7. https://stackoverflow.com/questions/8940230/how-to-run-sql-script-in-mysql

In [5]:
import pymysql

In [18]:
passw = "maquina271"

In [22]:
conn = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password=passw,
                       database="nabla_python",
                       charset="utf8")

1. Realiza una consulta a la base de datos nabla_python por medio de pymysql: encuentra los tipos de status existentes dentro de la tabla orders

In [27]:
query = '''
SELECT DISTINCT status FROM orders;
'''

In [28]:
with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(5)
    
for order in orders:
    print(order)

('Shipped',)
('Resolved',)
('Cancelled',)
('On Hold',)
('Disputed',)

2. Realiza una consulta a la base de datos nabla_python por medio de pymysql: encuentra los 10 clientes customerName que más han comprado en la tienda. La tabla resultante deberá estar ordenada de mayor a menor con customerName y expenses como la columna en dónde se encuentre el monto gastado en la tienda. (hint: considera las tablas customers y payments)

In [34]:
query = '''
SELECT
customerName,
sum(amount) as expenses
FROM customers
INNER JOIN payments ON payments.customerNumber = customers.customerNumber
GROUP BY 1
ORDER BY 2 DESC;
'''

In [37]:
with conn.cursor() as cursor:
    cursor.execute(query)
    customers = cursor.fetchmany(10)


for customer in customers: 
    print(customer[0], " ", customer[1])

Euro+ Shopping Channel   715738.98
Mini Gifts Distributors Ltd.   584188.24
Australian Collectors, Co.   180585.07
Muscle Machine Inc   177913.95
Dragon Souveniers, Ltd.   156251.03
Down Under Souveniers, Inc   154622.08
AV Stores, Co.   148410.09
Anna's Decorations, Ltd   137034.22
Corporate Gift Ideas Co.   132340.78
Saveley & Henriot, Co.   130305.35

3. Escribe una consulta que, para cada producto comprado muestre la clave del cliente customerNumber y el código del producto productCode. Obten los primeros 10 valores

In [38]:
query = '''
SELECT
DISTINCT
orderdetails.productCode,
orders.customerNumber
FROM orders
INNER JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber
WHERE orders.status IN ('Shipped','Resolved')
'''

In [45]:
with conn.cursor() as cursor:
    cursor.execute(query)
    products = cursor.fetchmany(10)


for product in products: 
    print(product)

('S18_1749', 363)
('S18_2248', 363)
('S18_4409', 363)
('S24_3969', 363)
('S18_2325', 128)
('S18_2795', 128)
('S24_1937', 128)
('S24_2022', 128)
('S18_1342', 181)
('S18_1367', 181)

4. Con base en el  ejercicio anterior, reemplaza productCode por productName

In [47]:
query = '''
WITH product_name AS(
SELECT DISTINCT productCode, productName
FROM products
)
SELECT
DISTINCT
product_name.productName,
orders.customerNumber
FROM orders
INNER JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber
INNER JOIN product_name ON product_name.productCode =orderdetails.productCode
WHERE orders.status IN ('Shipped','Resolved')
'''

In [48]:
with conn.cursor() as cursor:
    cursor.execute(query)
    reemp = cursor.fetchmany(10)


for product in reemp: 
    print(product)

('1917 Grand Touring Sedan', 363)
('1911 Ford Town Car', 363)
('1932 Alfa Romeo 8C2300 Spider Sport', 363)
('1936 Mercedes Benz 500k Roadster', 363)
('1932 Model A Ford J-Coupe', 128)
('1928 Mercedes-Benz SSK', 128)
('1939 Chevrolet Deluxe Coupe', 128)
('1938 Cadillac V-16 Presidential Limousine', 128)
('1937 Lincoln Berline', 181)
('1936 Mercedes-Benz 500K Special Roadster', 181)

5. Con base en el  ejercicio anterior, reemplaza customerNumber por customerName

In [49]:
query = '''
WITH product_name AS(
SELECT DISTINCT productCode, productName
FROM products
),
customer_name AS(
SELECT DISTINCT customerNumber, customerName
FROM customers)
SELECT
DISTINCT
product_name.productName,
cn.customerName
FROM orders
INNER JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber
INNER JOIN product_name ON product_name.productCode =orderdetails.productCode
INNER JOIN customer_name cn ON cn.customerNumber=orders.customerNumber 
WHERE orders.status IN ('Shipped','Resolved')
'''

In [50]:
with conn.cursor() as cursor:
    cursor.execute(query)
    reemp2 = cursor.fetchmany(10)


for product in reemp2: 
    print(product)

('1965 Aston Martin DB5', 'Atelier graphique')
('1999 Indy 500 Monte Carlo SS', 'Atelier graphique')
('1948 Porsche Type 356 Roadster', 'Atelier graphique')
('1966 Shelby Cobra 427 S/C', 'Atelier graphique')
('1996 Moto Guzzi 1100i', 'Atelier graphique')
('1936 Harley Davidson El Knucklehead', 'Atelier graphique')
('1938 Cadillac V-16 Presidential Limousine', 'Atelier graphique')
('1917 Grand Touring Sedan', 'Signal Gift Stores')
('1911 Ford Town Car', 'Signal Gift Stores')
('1932 Model A Ford J-Coupe', 'Signal Gift Stores')

6. Con base en el  ejercicio 3, encuentra el nombre del producto productName y cuantas unidades se han comprado de ese producto. Ordena los elementos de mayor a menor.

In [51]:
query = '''
WITH product_name AS(
SELECT DISTINCT productCode, productName
FROM products
)
SELECT
DISTINCT
product_name.productName,
sum(orderdetails.quantityOrdered) as quantity
FROM orders
INNER JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber
INNER JOIN product_name ON product_name.productCode =orderdetails.productCode
WHERE orders.status IN ('Shipped','Resolved')
GROUP BY 1
ORDER BY 2 DESC;
'''

In [52]:
with conn.cursor() as cursor:
    cursor.execute(query)
    unidades = cursor.fetchmany(10)


for product in unidades: 
    print(product)

('1992 Ferrari 360 Spider red', Decimal('1720'))
('1937 Lincoln Berline', Decimal('1060'))
('1913 Ford Model T Speedster', Decimal('1028'))
('1957 Chevy Pickup', Decimal('1023'))
('1960 BSA Gold Star DBD34', Decimal('1015'))
('1957 Corvette Convertible', Decimal('1013'))
('1956 Porsche 356A Coupe', Decimal('1013'))
('American Airlines: MD-11S', Decimal('1010'))
('2002 Suzuki XREO', Decimal('1007'))
('1997 BMW R 1100 S', Decimal('998'))

7. Por medio de SQLAlchemy, define la tabla orders definida dentro de nabla_python

In [53]:
from sqlalchemy import create_engine
engstr = f"mysql+pymysql://nabla123:{passw}@db4free.net:3306/nabla_python"
engine = create_engine(engstr)
engine

Engine(mysql+pymysql://nabla123:***@db4free.net:3306/nabla_python)

In [54]:
conn = engine.connect()

In [64]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Text 

Base = declarative_base()

class Order(Base):
    __tablename__ = "orders" 
    orderNumber = Column(Integer, primary_key=True)
    orderDate = Column(Date)
    requiredDate = Column(Date)
    shippedDate = Column(Date)
    status = Column(String(15))
    comments = Column(Text)
    customerNumber = Column(Integer, index=True)

8. Por medio de SQLAlchemy, define la tabla orderdetails definida dentro de nabla_python

In [59]:

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Text, Float
Base = declarative_base()

class OrderDetails(Base):
    __tablename__ = "orderdetails"
    orderNumber  = Column(Integer, primary_key=True)
    productCode = Column(String(15))
    quantityOrdered = Column(Integer)
    priceEach = Column(Float)
    orderLineNumber = Column(String(15))

9. Realiza una consulta a la base de datos nabla_python por medio de sqlalchemy: encuentra los tipos de status existentes dentro de la tabla orders

In [69]:

from sqlalchemy.orm import sessionmaker

engine = create_engine(engstr)
Session = sessionmaker(bind=engine)
sess = Session()

In [71]:

query = sess.query(Order.status).distinct(Order.status)
for ans  in query:
    print(ans)

('Shipped',)
('Resolved',)
('Cancelled',)
('On Hold',)
('Disputed',)
('In Process',)